<%= stylesheet_link_tag 'users_index', media: 'all', 'data-turbolinks-track': 'reload' %>

<ul class="user-index">
  <% @users.each do |user| %>
    <li class="user-container">
      <div class="photo">
        <%= image_tag user.photo %>
      </div>
      <div class="name-posts">
        <div class="name">
          <%= user.name %>
        </div>
        <div class="posts">
          <p>Number of posts: <%= user.posts.count %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
